



/* Change the color of the navbar items */
.navbarnav .navitem .navlink {
    color: #fbbe06;
}

.navbar-toggler{
  background-color: #91969b !important;
}
.fa-1x {
    font-size: 1.5rem;
  }
  .navbartoggler.toggler-example {
    cursor: pointer;
  }
  .dark-blue-text {
    color: #0A38F5;
  }
  .dark-pink-text {
    color: #AC003A;
  }
  .dark-amber-text {
    color: #ff6f00;
  }
  .dark-teal-text {
    color: #004d40;
  }

@media (max-width: 768px) {
    
    }
